@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// @font-face 
//     font-family: Nexa;
//     src: url(../fonts/Nexa.otf);  

// title()
    // font-family: nexa
/*
*
variables
*
*/
main-light = #FFFAFA
main-dark = #151515    